<?xml version="1.0"?>
<config>
    <tabs>
        <md translate="label">
            <label>MD</label>
            <sort_order>400</sort_order>
        </md>
    </tabs>
    <sections>
        <onestepcheckout translate="label" module="onestepcheckout">
            <class>separator-top</class>
            <label>One Step Checkout</label>
            <tab>md</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>				
                <general translate="label">
                    <label>General Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enable One Step Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <show_shipping_address translate="label">
                            <label>Enable shipping to different address</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[For Customers that have shipping address different from billing address]]></comment>
                        </show_shipping_address>
                        <!--<reload_shipping translate="label">
                                <label>Reload Shipping Method when address change</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>3</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                        </reload_shipping>-->
                        <default_payment translate="label">
                            <label>Default Payment method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/source_payment</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_payment>
                        <default_shipping translate="label">
                            <label>Default Shipping method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/source_shipping</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_shipping>
                        <country_id translate="label">
                            <label>Default Country</label>
                            <frontend_type>select</frontend_type>
                            <frontend_class>countries</frontend_class>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </country_id>
                        <region_id translate="label">
                            <label>Default Region/State</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </region_id>
                        <postcode translate="label">
                            <label>Default ZIP/Postal Code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </postcode>
                        <city translate="label">
                            <label>Default City</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </city>
                        <!-- <use_for_disabled_fields translate="label comment">
                                <label>Using default data for disabled fields</label>
                                <comment><![CDATA[Using default country, postcode, state, city for disabled fields]]></comment>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>10</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                        </use_for_disabled_fields> -->
                        <hide_shipping_method transalte="label">
                            <label>Hide Section Shipping method if only one method is applicable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hide_shipping_method>
                        <checkout_title translate="label">
                            <label>Checkout title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkout_title>
                        <checkout_description translate="label">
                            <label>Checkout description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkout_description>
                        <show_comment translate="label">
                            <label>Enable adding comment to order</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_comment>
                        <show_newsletter translate="label">
                            <label>Show newsletter checkbox</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_newsletter>
                        <newsletter_default_checked translate="label">
                            <label>Newsletter checkbox checked by default</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </newsletter_default_checked>
                        <show_discount translate="label">
                            <label>Show discount code section</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_discount>
                    </fields> 
                </general>	
                <field_position_management translate="label">
                    <label>Field Position Management</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <position translate="label">
                            <label>Field Position Management</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>onestepcheckout/adminhtml_system_config_field_position</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </position>
                    </fields>
                </field_position_management>
                <field_require_management translate="label">
                    <label>Required Field Management</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <company translate="label">
                            <label>Company</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </company>
                        <street translate="label">
                            <label>Address</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </street>
                        <country translate="label">
                            <label>Country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </country>
                        <region translate="label">
                            <label>State/Province</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </region>
                        <city translate="label">
                            <label>City</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </city>
                        <postcode translate="label">
                            <label>Zip/Postal Code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </postcode>
                        <telephone translate="label">
                            <label>Telephone</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </telephone>
                        <fax translate="label">
                            <label>Fax</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fax>
                        <prefix translate="label">
                            <label>Prefix Name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </prefix>
                        <middlename translate="label">
                            <label>Middle Name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </middlename>
                        <suffix translate="label">
                            <label>Suffix Name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </suffix>
                        <birthday translate="label">
                            <label>Date of Birth</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </birthday>
                        <gender translate="label">
                            <label>Gender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gender>
                        <taxvat translate="label">
                            <label>Tax/VAT number</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </taxvat>
                    </fields>
                </field_require_management>
				
                <checkout_mode translate="label">
                    <label>Checkout Settings</label>					
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <show_login_link translate="label">
                            <label>Show Login Link</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_login_link>
                        <enable_registration translate="label">
                            <label>Enable Registration</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_registration>
                        <allow_guest translate="label comment">
                            <label>Allow Guest Checkout</label>
                            <comment><![CDATA[if set to No, registration is required]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow_guest>
                        <login_link_title translate="label comment">
                            <label>Login Message</label>
                            <frontend_type>textarea</frontend_type>							
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </login_link_title>
                    </fields>
                </checkout_mode>
                <ajax_update translate="label">
                    <label>Auto update Sections</label>					
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_ajax translate="label">
                            <label>Auto update Sections following changes in Address</label>					
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Auto save address and update Sections]]></comment>
                        </enable_ajax>
                        <ajax_fields translate="label">
                            <label>Address fields trigger updating Sections</label>					
                            <frontend_type>multiselect</frontend_type>
                            <source_model>onestepcheckout/source_ajaxbilling</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ajax_fields>
                        <reload_payment translate="label">
                            <label>Reload Sections</label>					
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/source_reloadpayment</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </reload_payment>
                        <update_payment translate="label">
                            <label>Enable updating payment method</label>					
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </update_payment>
                    </fields>
                </ajax_update>
                <terms_conditions translate="label">	
                    <label>Terms and Conditions</label>					
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_terms translate="label">
                            <label>Show Terms and Conditions</label>					
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_terms>
                        <term_title translate="label">
                            <label>Terms and Conditions Title</label>					
                            <frontend_type>text</frontend_type>							
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </term_title>
                        <term_html translate="label">
                            <label>Terms and Conditions Content (HTML)</label>					
                            <frontend_type>textarea</frontend_type>							
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </term_html>
                        <enable_custom_size translate="label">
                            <label>Enable custom size</label>					
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>						
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_custom_size>
                        <term_width translate="label comment">
                            <label>Terms and Conditions Popup Width</label>
                            <comment><![CDATA[Width(px) of term and and condition pop up]]></comment>
                            <frontend_type>text</frontend_type>							
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable_custom_size>1</enable_custom_size>
                            </depends>
                        </term_width>
                        <term_height translate="label comment">
                            <label>Terms and Conditions Popup Height</label>
                            <comment><![CDATA[Height(px) of term and and condition pop up]]></comment>
                            <frontend_type>text</frontend_type>							
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable_custom_size>1</enable_custom_size>
                            </depends>
                        </term_height>
                    </fields>
                </terms_conditions>
                <order_notification translate="label">	
                    <label>Admin Order Notification</label>					
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_notification translate="label">
                            <label>Enable email notification</label>					
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_notification>
                        <template translate="label">
                            <label>Notification email template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                        <notification_email translate="label comment">
                            <label>Emails receive Notification</label>
                            <comment><![CDATA[Separated by ',']]></comment>
                            <frontend_type>textarea</frontend_type>							
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notification_email>
                    </fields>
                </order_notification>
                <!--<giftwrap translate="label comment">
                    <label>Giftwrap Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_giftwrap translate="label">
                            <label>Enable Gift wrap</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_giftwrap>
                        <giftwrap_type translate="label">
                            <label>Giftwrap Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/giftwrap</source_model>
                            <sort_order>15</sort_order>                          
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable_giftwrap>1</enable_giftwrap>
                            </depends>
                        </giftwrap_type>
                        <giftwrap_amount translate="label">
                            <label>Giftwrap Fee</label>
                            <frontend_type>text</frontend_type>							
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable_giftwrap>1</enable_giftwrap>
                            </depends>
                            <comment><![CDATA[Please enter giftwrap fee.]]></comment>
                        </giftwrap_amount>
                    </fields>
                </giftwrap>-->
                <giftmessage translate="label comment">
                    <label>Gift message Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_giftmessage translate="label">
                            <label>Enable Gift message</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_giftmessage>
                    </fields>
                </giftmessage>
            </groups>
        </onestepcheckout>        
    </sections>
</config>