
/* Ajax Search*/
 #searchajaxico { background: url(../md/preloader.gif) no-repeat scroll 0 0 transparent; height:16px; left:235px; position: absolute; width: 16px; top:3px; }
.search-autocomplete {position: absolute; left:41px !important; top:24px !important; width:330px; background:#fff;  box-shadow: 0 2px 7px; } 
.search-autocomplete ul{ background:#fff;}
.header .form-search .search-autocomplete {top:35px !important; left:0px !important;}
.search-autocomplete li { cursor:pointer; padding:10px !important;}
.search-autocomplete li:nth-child(odd){ background:#f5f5f5;}
.search-autocomplete li:nth-child(even){ background:#fcfcfc;}
.no-result { cursor:auto !important; }
/*.header .form-search .button{ background:url("../md/sprites.png") no-repeat scroll 0 0 transparent;margin-left: -35px;
 margin-top: -7px; width:36px; height:32px;}*/
.search-autocomplete li:hover { background:none repeat scroll 0 0 rgba(0, 0, 0, 0.1); }
.product_info { width: 225px;float: right; margin:0;}
.product_info strong { font-size:12px; text-transform:capitalize;  display: inline-block; width:75%; color:#456177 } 
.product_info .ajaxsearch-desc { font-size:11px; display: block; }
.product_info .as-price {font-size:14px; font-weight:bold; color:red; display: inline-block;}
.product_img {  background:#fff;float: left;padding: 3px;    width: 70px;box-shadow: 0 0 3px #bbbbbb; margin:0; }
.product_img img{ float:left; width:100%;}
.search-autocomplete li.ajaxsearch_more { margin-bottom:0px; border-bottom:0px; padding-bottom:0px;}
.search-autocomplete li.ajaxsearch_more:hover { background:none;}
.header .form-search .search-autocomplete li.no-result{ border-bottom: none; }
.ajaxsearch_more { display:none; }
.product_info br{ display:none;}
.search-autocomplete:before {
    border-bottom: 10px solid #E5E5E5;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 40px;
    top: -10px;
}
